//Breakpoints
$large-view: 1525px;
$large-screen: 1300px;
$medium-plus-screen: 1000px;
$medium-screen: 900px;
$small-screen: 590px;
$tiny-screen: 420px;
$mobile-support-end: 320px;
$min-height: 650px;
