@import '../global.scss';

.widget-container {
  display: flex;
  background-color: $white;
  margin: 10px 10px 0;
  padding: 20px;
  text-align: left;
  box-shadow: 0 3px 15px rgba(35, 56, 95 / 10% , 0.15);
  border-radius: 10px;
}

.widget-container h1,
.widget-container h2 {
  font-weight: 400;
  font-size: 18px;
}

.intro-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.intro-panel button {
  padding: 0 20px;
  margin: auto 5px;
  height: 35px;
  font-size: 19px;
  color: $white;
  background-color: $teal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.intro-panel a {
  color: $white;
}

.intro-panel p {
  width: 100%;
}

.deck-content {
  display: inline-block;
  text-align: left;
  margin: 0 15px;
}

.deck-img-container {
  display: inline-block;
  max-width: 200px;
  max-height: 200px;
  height: 100%;
  vertical-align: top;
  position: relative;
  margin-right: 16px;

}

.deck-img-container img {
  width: 100%;
  border-radius: 10px;
}

.deck-interactive {
  margin-left: auto;
  padding: 5px 20px 5px 5px;
  
}

.deck-interactive h2 {
  background-color: $teal;
  color: $white;
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 5px;
}

.enroll {
  position: relative;
  float: right;
  background: none;
  border: none;
  margin-left: auto;
}

.enroll-button {
  background-color: $teal;
  color: $white;
  font-size: 19px;
  padding: 5px 40px 5px 15px;

  border-radius: 5px;
  color: $white;
  cursor: pointer;
}

.enroll::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 10px;
  width: 15px;
  height: 3px;
  background: $white;
  cursor: pointer;
}

.enroll::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 10px;
  width: 15px;
  height: 3px;
  background: $white;
  transition: .3s;
  transform: rotate(90deg);
  cursor: pointer;
}

.enrolled::after {
  transition: .3s;
  transform: rotate(180deg) !important;
}

.level-bar::after {
  content: '';
  background: $grey;
  display: block;
  min-width: 580px;
  height: 15px;
}

.profile-component {
  display: block;
}

.deck-misc-info {
  text-align: right;
}

.courses-panel h1 {
  text-align: center;
  font-size: 30px;
}

.courses-panel p {
  text-align: center;
  font-size: 20px;
  padding: 0 40px;
}

.user-name {
  font-size: 30px !important;
}

@media (max-width: $small-screen) {
  .header-bar {
    padding: 0 20px;
  }

  .header-container {
    font-size: 15px;
  }
}
