@import '../global.scss';

.splash-wrapper {
  margin: auto 20%;
}

@media (max-width: $large-view) {
  .splash-wrapper {
    margin: auto 15%;
  }
}

@media (max-width: $tiny-screen) {
  .splash-wrapper {
    margin: auto 10%;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1100px;
}

.wrapper .deck-content-block {
  width: 100%;
}

.deck-block-intro {
  border-radius: 0 !important;
  margin: 0 10px !important;
  height: auto;
  width: 100%;
}
